<template>
  <div>
    <h2 class="text-2xl font-bold">강사등록 리스트 </h2>
    <hr class="my-2 border dark:border-gray-700"/>
    <TwDatatableClient :data="teacherList"
                       :column="data.column"
                       :setting="data.setting"

    >
      <template #row="{ column, data }">
        <template v-if="column.field === 'imgSrc'">
          {{ data.imgSrc }}
        </template>
        <template v-if="column.field === 'teacherName'">
          {{ data.teacherName }}
        </template>
        <template v-if="column.field === 'gender'">
          {{ data.gender }}
        </template>
        <template v-if="column.field === 'dateBirth'">
          {{ data.gender }}
        </template>
        <template v-if="column.field === 'action'">
          <TwButton variant="primary" class="border border-gray-900" @click="" >
            상세보기
          </TwButton>
        </template>
      </template>
    </TwDatatableClient>
    <hr class="my-2 dark:border-gray-700"/>
  </div>
</template>

<script setup lang="ts">
import {ref} from "vue";
import {DatatableColumn, DatatableData, TwButton, TwDatatableClient, TwDatatableServer} from "vue3-tailwind";
import {useTeacherStore} from "~/stores/teacher";
import {storeToRefs} from "pinia";

const stores = useTeacherStore();
const {getTeacherList} = storeToRefs(stores);
const {teacherList} = stores;

await getTeacherList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});


const data = ref({
  column: [
    {
      label: "이름",
      field: "studentName",
      width: "400px",

    },
    {
      label: "상담제목",
      field: "adviceTitle",
      width: "400px",

    },
    {
      label: "날짜",
      field: "dateAdvice",
      width: "400px",

    },
    {
      label: "관리",
      field: "action",
      width: "400px",

    },
  ] as Array<DatatableColumn>,
  data: [] as Array<DatatableData>,
  limit: 5,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },

    ],
  },
});


</script>

<style>

</style>
