<template>
  <div
    class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <a href="/teacher/trainingregister/training-register"
           class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">훈련일지</a>
      </li>
      <li class="me-6">
        <a href=""
           class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
           aria-current="page">과정 등록 상세보기</a>
      </li>
    </ul>
  </div>
  <div>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex justify-center m-1 p-1.5 ">

      <div
        class="w-full  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-3">

        </div>
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      강사id
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.teacherId }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      훈련날짜
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.subjectId }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      재적[명]
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.dateStart }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      출결[명]
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.dateEnd }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      이론
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.trainingType}}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      실습
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.classTurn }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      결석
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.registerHuman }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      결석
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.totalHuman }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="SubjctStatusDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      결석
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ SubjctStatusDetail.ncsLevel }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</template>
<script setup lang="ts" xmlns="http://www.w3.org/1999/html">
import {reactive, ref} from 'vue'
import {storeToRefs} from "pinia";
import {useSubjectStore} from "~/stores/classergisstration";

const store = useSubjectStore();
const {getClassDetail} = store;
const {SubjctStatusDetail} = storeToRefs(store);


await getClassDetail('${id}').then(() => {
  console.log("-------------------상세보기성공---------------------")
  console.log("-------------------상세보기성공---------------------")
  console.log()
}).catch(() => {
  console.log("--------------------상세보기실패------------------")

});

const from= reactive({

  teacherId:0, //강사id
  subjectId:'', //과정명
  dateStart: '', //교육시작일
  dateEnd: '', //교육종료일
  trainingType: '', //교육유형
  classTurn: '', //회차
  registerHuman:'',  //재적인원
  totalHuman: 0, //총인원수
  ncsLevel: 0, //ncs 수준
})

</script>


<style scoped>

</style>
