<script setup lang="ts">
import { reactive, ref } from 'vue'
import { useSubjectStore } from '~/stores/classergisstration'
import {storeToRefs} from "pinia";
import {TwForm, TwInput} from "vue3-tailwind";

const store = useSubjectStore();
const {getListDetail} = store;
const {classChange} = storeToRefs(store);

// const { id } = useRoute().params

await getListDetail('${id}').then(() => {
  console.log("-------------------상세보기성공---------------------")
  console.log(classChange)
  console.log("-------------------상세보기성공---------------------")
  console.log(classChange.value)
  console.log()
}).catch(() => {
  console.log("--------------------상세보기실패------------------")

});

const form= reactive({
  teacherId: 0,
  subjectName: '',
  dateStart: '',
  dateEnd: '',
  periodTime:'',
  trainingType: 0,
  classTurn:'',
  registerHuman: 0,
  totalHuman: 0,
  mainTeacher:'',
  ncsLevel: []
})

</script>


<template>
  <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <a href="#" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">수강과정리스트</a>
      </li>
      <li class="me-2">
        <a href="#" class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500" aria-current="page">과정 상세보기</a>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="text-3xl font-bold"> 과정 상세정보</h1>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex justify-center m-1 p-1.5 ">

      <div class="w-full  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-3">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">과정 상세정보</h5>
        </div>
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
              <div class="flex items-center">

                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      훈련강사
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.teacherId" />

                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      과정명
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.subjectName" />
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      훈련시작일
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.dateStart" />
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      훈련종강일
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.dateEnd" />
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      훈련기간
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.periodTime" />
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      훈련유형
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.trainingType" />
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      회차
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.classTurn" />
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      재적인원
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.registerHuman" />
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      재적인원
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.totalHuman" />
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      담당강사
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.mainTeacher" />
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="classChange">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      NCS수준
                    </p>
                    <input class="text-sm text-gray-500 truncate dark:text-gray-400" :placeholder="classChange.data.ncsLevel" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <button type="button" class="px-3 py-2 text-xs font-medium text-center text-black bg-white rounded-lg  focus:ring-4
                 ">수정하기</button>
        <button type="button" class="px-3 py-2 text-xs font-medium text-center text-black bg-white rounded-lg  focus:ring-4
                 ">저장하기</button>
      </div>

    </div>
  </div>


</template>


<style scoped>
</style>
