<script setup lang="ts">
/*수강반 등록 리스트*/

import { storeToRefs } from 'pinia'
import { useSubjectStore } from '~/stores/classergisstration'

const stores = useSubjectStore();
const {getList} =stores;
const {classChange} = storeToRefs(stores);


await getList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});

const route = useRoute()

console.log(route.params.id)

const handleRowClick = (row: any) => {
  // 클릭한 행의 데이터를 사용하여 적절한 라우트로 이동
  router.push({ path: `//${row.id}` }); // 적절한 경로와 ID 사용
}
const router = useRouter();


</script>


<template>
  <h2 class="font-bold p-4">ㅣ과정 등록 리스트ㅣ</h2>
  <el-table :data="classChange" style="width: 100%" @row-click="handleRowClick">
    <!-- 테이블 열들 -->
  </el-table>

  <el-table :data="classChange" style="width: 100%"  >
    <el-table-column prop="subjectName" label="과정명" width="180" />
    <el-table-column prop="dateStart" label="교육시작일" width="150" />
    <el-table-column prop="dateEnd" label="교육종료일" width="140" />
    <el-table-column prop="periodTime" label="교육기간" width="150" />
    <el-table-column prop="trainingType" label="훈련유형" width="150" />
    <el-table-column prop="classTurn" label="회차" width="150" />
    <el-table-column prop="registerHuman" label="재적인원" width="150" />
    <el-table-column prop="totalHuman" label="총 인원수" width="150" />
    <el-table-column prop="mainTeacher" label="담당강사" width="150" />
    <el-table-column prop="ncsLevel" label="NCS수준" width="150" />

  </el-table>

</template>

<style scoped>

</style>
