<script setup lang="ts">
import { reactive } from 'vue'
import { useSubjectStore } from '~/stores/classergisstration'

// do not use same name with ref
const form = reactive({

  teacherId: '',
  subjectName: '',
  dateStart: '',
  dateEnd: '',
  trainingType: '',
  classTurn: '',
  registerHuman:'',
  totalHuman:'',
  ncsLevel:''


})
const authStore = useSubjectStore()

const onSubmit = () => {
  const payload ={
    teacherId:form.teacherId,
    subjectName:form.subjectName,
    dateStart:form.dateStart,
    dateEnd:form.dateEnd,
    trainingType:form.trainingType,
    classTurn:form.classTurn,
    registerHuman:form.registerHuman,
    totalHuman:form.totalHuman,
    ncsLevel:5
  }

  authStore.setUser(payload)
  console.log(payload)
  console.log(11)



}
</script>

<template>
  <div>
  <div class="hihi">
  <div class="container">
    <div class="form-wrapper">
  <div class=" font-bold text-4xl my-10" >수강반 등록</div>

      <el-form :model="form" label-width="auto" style="width: 1300px;">
        <el-form-item label="과정명" class="form-item-margin">
      <el-input v-model="form.subjectName" />
    </el-form-item>
    <el-form-item label="과정담당교사" class="form-item-margin">
      <el-select v-model="form.teacherId" placeholder="강사명">
        <el-option label="박진수 강사님" value="1" />
        <el-option label="김승희 강사님" value="2" />
        <el-option label="권봉주 강사님" value="3" />
        <el-option label="박하림 강사님" value="4" />
      </el-select>
    </el-form-item>
    <el-form-item label="수강신청기간">
      <el-col :span="11">
        <el-date-picker
          v-model="form.dateStart"
          type="date"
          placeholder="수강신청기간"
          style="width: 100%"
        />
      </el-col>
    </el-form-item>
    <el-form-item label="수강종료기간">
      <el-col :span="11">
        <el-date-picker
          v-model="form.dateEnd"
          type="date"
          placeholder="수강신청기간"
          style="width: 100%"
        />
      </el-col>
    </el-form-item>
    <el-form-item label="교육유형">
      <el-select v-model="form.trainingType" placeholder="교육유형">
        <el-option label="K - 디지털트레이닝" value="TOMORROWSTUDY" />
        <el-option label="국가기간전략산업직종" value="NATIONALINDUSTRY" />
        <el-option label="국민내일배움카드(일반)" value="KDIGITAL" />
        <el-option label="스마트혼합훈련" value="SMARTMIX" />
      </el-select>
    </el-form-item>
    <el-form-item label="교육회차">
      <el-input v-model="form.classTurn" />
    </el-form-item>
    <el-form-item label="재적인원">
      <el-input v-model="form.registerHuman" />
    </el-form-item>
    <el-form-item label="총인원수">
      <el-input v-model="form.totalHuman" />
    </el-form-item>
    <el-form-item label="NCS수준">
      <el-radio-group v-model="form.ncsLevel">
        <el-radio value="1" name="ncsLevel">
          1단계
        </el-radio>
        <el-radio value="2" name="ncsLevel">
          2단계
        </el-radio>
        <el-radio value="3" name="ncsLevel">
          3단계
        </el-radio>
        <el-radio value="4" name="ncsLevel">
          4단계
        </el-radio>
        <el-radio value="5" name="ncsLevel">
          5단계
        </el-radio>
      </el-radio-group>
    </el-form-item>
    <div class="center-buttons">
      <el-button type="primary">등록하기</el-button>

      <el-button>취소하기</el-button>
    </div>
  </el-form>
    </div>
  </div>
  </div>
  </div>
</template>

<style scoped>

hihi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면의 높이를 꽉 채우도록 설정합니다. */
}

.container {
  width: 200%;
  max-width: 1200px; /* 최대 너비를 설정합니다. */
}


.form-wrapper {
  width: 100%; /* 폼 래퍼를 화면 너비의 80%로 설정합니다. */
  max-width: 1000px; /* 최대 너비를 설정할 수도 있습니다. */
  padding: 50px;
  margin: 0 auto; /* 가운데 정렬을 위해 추가합니다. */
}
.center-buttons {
  text-align: center;
}
</style>
