
버튼을 가운데로 옮기기 위해서는 부모 요소에 대해 CSS 스타일을 적용하여 가운데 정렬을 해야합니다. 아래는 수정된 코드입니다.

html
Copy code
<script setup lang="ts">
import { TwButton } from "vue3-tailwind";
</script>

<template>
  <div class="justify-between">
  <div class="container ">
    <div class="h-10 flex items-center">라인컴퓨터학원</div>
    <div class="button-container text-xl grid grid-cols-3 divide-x flex items-center justify-center">
      <TwButton variant="primary" :ripple="true" class=" text-center">
        관리자모드
      </TwButton>
    </div>
    <div class="button-container text-xl grid grid-cols-3 divide-y ">
      <TwButton variant="primary" :ripple="true "class=" text-center">
        수강생모드
      </TwButton>
    </div>
    <div class="button-container text-xl grid grid-cols-3 divide-y ">
      <TwButton variant="primary" :ripple="true"class=" text-center">
        교*강사모드
      </TwButton>
    </div>
    <div class="text-center">Copyright © 라인컴퓨터아트학원. All rights reserved.</div>
  </div>
  </div>
</template>

<style scoped>
.container {
  text-align: center;



}


.button-container {
  margin-top: 20px;
  --color: 000000;
}
</style>
