<script setup lang="ts">
import { reactive, ref } from 'vue'
import { useSubjectStore } from '~/stores/classergisstration'
import {storeToRefs} from "pinia";
import {TwForm, TwInput} from "vue3-tailwind";



const store = useSubjectStore();
const {getListDetail} = store;
const {classChange} = storeToRefs(store);

// const { id } = useRoute().params

await getListDetail('${id}').then(() => {
  console.log("-------------------상세보기성공---------------------")
  console.log(classChange)
  console.log("-------------------상세보기성공---------------------")
  console.log(classChange.value)
}).catch(() => {
  console.log("--------------------상세보기실패------------------")

});



const form= reactive({
  subjectId:0,
  teacherId: 0,
  subjectName: '',
  dateStart: '',
  dateEnd: '',
  periodTime:'',
  trainingType: 0,
  classTurn:'',
  registerHuman: 0,
  totalHuman: 0,
  mainTeacher:'',
  ncsLevel: []
})

</script>

<template>
  <tw-form

    :label-position="classChange"
    label-width="auto"
    :model="classChange"


    style="max-width: 800px">

    <template #row="{ column, data }">
      <tw-form v-if="classChange" label="id" #row="{column,data}">
        placeholder
      </tw-form>
      <tw-form label="과정명">
        <TwInput v-model="form.subjectId" size="small"  disabled>
          {{ data.subjectId }}
        </TwInput>
        <tw-form label="과정명">
          <TwInput v-model="form.teacherId" size="small"  disabled>
            {{ data.teacherId }}
          </TwInput>
        </tw-form>
        <tw-form label="수강시작일">
          <TwInput v-model="form.subjectName" size="small" disabled>
          </TwInput>
        </tw-form>
        <tw-form label="수강종료기간">
          <TwInput v-model="form.dateStart" size="small" disabled>
            {{ data.dateStart }}
          </TwInput>
        </tw-form>
        <tw-form label="수강종료기간">
          <TwInput v-model="form.dateEnd" size="small" disabled>
            {{ data.dateEnd }}
          </TwInput>
        </tw-form>
        <tw-form label="교육유형">
          <TwInput v-model="form.periodTime" size="small" disabled>
            {{ data.periodTime }}
          </TwInput>
        </tw-form>
        <tw-form label="교육회차">
          <TwInput v-model="form.trainingType" size="small"  disabled>
            {{ data.trainingType }}
          </TwInput>
        </tw-form>
        <tw-form label="재적인원">
          <TwInput v-model="form.classTurn" size="small"  disabled>
            {{ data.classTurn }}
          </TwInput>
        </tw-form>
        <tw-form label="총인원수">
          <TwInput v-model="form.registerHuman" size="small"  disabled>
            {{ data.registerHuman }}
          </TwInput>
        </tw-form>
        <tw-form label="담당강사">
          <TwInput v-model="form.totalHuman" size="small"  disabled>
            {{ data.totalHuman }}
          </TwInput>
        </tw-form>
        <tw-form label="NCS 수준">
          <TwInput v-model="form.mainTeacher" size="small"  disabled>
            {{ data.mainTeacher }}
          </TwInput>
        </tw-form>
        <tw-form label="NCS 수준">
          <TwInput v-model="form.ncsLevel" size="small"  disabled>
            {{ data.ncsLevel }}
          </TwInput>
        </tw-form>
      </tw-form>
    </template>
  </tw-form>
</template>



<style scoped>

</style>
