<script setup lang="ts">
import { reactive } from 'vue'
import {TwButton} from "vue3-tailwind";
import {useBoardStore} from "~/stores/board";

const Board1 = reactive({
  teacherId:'',
  studentId:'0',
  boardTitle:'',
  boardWriter:'',
  boardContent:'',

})

const authStore = useBoardStore()

const onSubmit = () => {
  const payload ={
    teacherId:Board1.teacherId,
    studentId:Board1.studentId,
    boardTitle:Board1.boardTitle,
    boardWriter:Board1.boardWriter,
    boardContent:Board1.boardContent


  }

  authStore.setUser(payload)
  console.log(payload)
  console.log("--------patload--------")
}

</script>

<template>

    <div>게시글 등록</div>

    <div>
      <form class="max-w-full mx-auto">
        <div class="mb-5">
          <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">상담 제목</label>
          <input type="text"id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">
        </div>
      </form>
    </div>
    <div>
      <form class="max-w-full mx-auto">
        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white ">상담 내용 </label>
        <textarea id="message" rows="35" class="block p-3.5 w-full text-sm text-gray-900 bg-gray-50
                rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="내용을 입력해주세요...">
                </textarea>
      </form>
      <form class="inputImg" method="post" enctype="multipart/form-data">
        <div class="addImage" v-if="imageUrl">
          <img :src="imageUrl" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <input type="file" accept="image/*" @change="loadFile">
      </form>
    </div>

    <div class="flexbutton ">
      <TwButton class="buttons" variant="secondary">
        등록

      </TwButton>
      <TwButton class="buttons" variant="secondary" >
        뒤로가기
      </TwButton>
    </div>

  </template>


<style scoped>

</style>
