<script setup lang="ts">
import { reactive } from 'vue'
import {useNewStore} from '~/stores/teacher'

// do not use same name with ref
const form = reactive({
  imgSrc: '',
  teacherName: '',
  username: '',
  password: '',
  passwordRe: '',
  memberType:'',
  gender: '',
  dateBirth:'',
  phoneNumber:'',
  address:'',
  email:'',


})
const authStore = useNewStore() //store 모듈 가져오기

const onSubmit = () => {
  const payload ={
    // // 사용자가 입력한 데이터를 페이로드로 만들기

    imgSrc:form.imgSrc,
    teacherName:form.teacherName,
    username:form.username,
    password:form.password,
    passwordRe:form.passwordRe,
    gender:form.gender,
    dateBirth:form.dateBirth,
    phoneNumber:form.phoneNumber,
    address:form.address,
    email:form.email
  }

  // store에 페이로드를 전달하여 사용자 등록
  authStore.setUser(payload)
  console.log(payload)
  console.log("--------patload--------")
}
</script>

<template>


  <div class=" font-bold text-4xl my-10" >강사등록</div>

  <el-form :model="form" label-width="auto" style="max-width: 1000px"   >
    <el-form-item label="사진">
      <el-input v-model="form.imgSrc" />
    </el-form-item>
    <el-form-item label="강사명">
      <el-input v-model="form.teacherName" />
    </el-form-item>
    <el-form-item label="아이디">
      <el-input v-model="form.username" />
    </el-form-item>
    <el-form-item label="비밀번호">
      <el-input v-model="form.password" />
    </el-form-item>
    <el-form-item label="비밀번호확인">
      <el-input v-model="form.passwordRe" />
    </el-form-item>
    <el-form-item label="성별">
      <el-input v-model="form.gender" />
    </el-form-item>
    <el-form-item label="생일">
      <el-input v-model="form.dateBirth" />
    </el-form-item>
    <el-form-item label="휴대폰번호">
      <el-input v-model="form.phoneNumber" />
    </el-form-item>
    <el-form-item label="주소">
      <el-input v-model="form.address" />
    </el-form-item>
    <el-form-item label="이메일">
      <el-input v-model="form.email" />
    </el-form-item>
    <el-form-item class="flex items-center" >
      <el-button type="primary" @click="onSubmit">등록하기</el-button>
      <el-button>취소하기</el-button>
    </el-form-item>
  </el-form>



</template>

<style scoped>


</style>
