<script setup lang="ts">
import {useTeacherStore} from "~/stores/teacher";
import {storeToRefs} from 'pinia'
import {reactive} from 'vue'


// do not use same name with ref
const form = reactive({
  imgSrc: 'url',
  teacherName: '',
  gender: '',
  dateBirth: '',
  phoneNumber: "",
  address: '',
  email: '',
  identity: '',
  password: ''
})

const authStore = useTeacherStore()

const onSubmit = () => {
  const payload = {
    imgSrc: form.imgSrc,
    teacherName: form.teacherName,
    gender: form.gender,
    dateBirth: form.dateBirth,
    phoneNumber: form.phoneNumber,
    address: form.address,
    email: form.email,
    identity: form.identity,
    password: form.password,

  }

  authStore.setUser


  console.log(222222522222)
}


</script>



<template>

  <div class="font-bold text-3xl p-4">강사정보</div>
  <div class="demo-fit">

  </div>


  <el-descriptions v-model="form"
                   title=""
                   direction="vertical"
                   :column="5"
                   border

  >

    <el-descriptions-item v-model="form.teacherName" label="이름">권봉주</el-descriptions-item>
    <el-descriptions-item v-model="form.gender" label="성별"> 남</el-descriptions-item>
    <el-descriptions-item v-model="form.identity" label="강사ID">111255</el-descriptions-item>
  </el-descriptions>

  <div class="center-content">


    <el-descriptions
      title=""
      direction="horizontal"
      :column="1"

      border

    >
      <el-descriptions-item label="과정명">디지털 컨버져스 JAVA 기반</el-descriptions-item>

    </el-descriptions>

    <el-descriptions
      title=""
      direction="horizontal"
      :column="1"
      border
    >
      <el-descriptions-item v-model="form.dateBirth" label="생년월일">941208</el-descriptions-item>
      <el-descriptions-item v-model="form.phoneNumber" label="연락처">010-1234-4564</el-descriptions-item>
      <el-descriptions-item v-model="form.email" label="이메일">abc1152@gmail.com</el-descriptions-item>
      <el-descriptions-item v-model="form.address" label="주소">경기도 안산시 단원구 고잔동</el-descriptions-item>

    </el-descriptions>

  </div>

  <div class="flex justify-center p-20">
    <el-form-item>
      <el-button type="primary" @click="onSubmit">수정하기</el-button>
      <el-button>취소하기</el-button>
    </el-form-item>
  </div>
</template>


<style scoped>

.el-descriptions {
  margin-top: 50px;
}

</style>
