<script setup lang="ts">

import { storeToRefs } from 'pinia'
import { useNewStore } from '~/stores/teacher'

const stores = useNewStore();
const {getTeacherList111} =stores;
const {TeacherList} = storeToRefs(stores);


await getTeacherList111().then(() => {
  console.log("성공")
  console.log(TeacherList)
}).catch(() => {
  console.log("실패")
});


const route = useRoute()

console.log(route.params.id)



</script>


<template>
  <el-table :data="TeacherList" style="width: 100%"  >
    <el-table-column prop="id" label="ID" width="180" />
    <el-table-column prop="imgSrc" label="이미지" width="180" />
    <el-table-column prop=" teacherName"label="강사명" width="180">
<!--      <template #default="scope" #row = "data">-->
<!--        <div style="display: flex; align-items: center">-->
<!--          <NuxtLink to="/teacher/teacher-change/${id}">-->
<!--            {{ scope.row.teacherName }} </NuxtLink>-->
<!--        </div>-->
<!--      </template>-->
    </el-table-column>
    <el-table-column prop="gender" label="성별" width="180" />
    <el-table-column prop="dateBirth" label="생일" width="180" />


  </el-table>

</template>

<style scoped>

</style>
