<script setup lang="ts">
</script>
<!--탭바 글씨 바꾸는 -->
<template>
  <nav class="hidden md:block bg-white lg:w-64 sm:w-32 text-md text-[#000000] p-6 py-10 h-full rounded-3xl sticky top-10 z-10">
    <LayoutSidebarList />
  </nav>
</template>

