<script setup lang="ts">

import {TwButton} from "vue3-tailwind";
</script>

<template>

    <div class="flex justify-end" >
      <TwButton class=" mt-2 ">등록하기</TwButton>
    </div>

    <el-calendar :range="[new Date(2024, 2, 4), new Date(2019, 2, 24)]" />


</template>

<style scoped>

</style>
