
<template>
  <div>
    <h2 class="text-2xl font-bold">출결 승인</h2>
    <hr class="my-2 border dark:border-gray-700" />
  </div>
  <div class="flex justify-center">
    <el-form :model="form" :label-position="'top'" label-width="auto" style="width: 800px">
      <el-form-item label="수강생id">
        <el-input v-model="form.studentId" />
      </el-form-item>
      <el-form-item label="시작일">
        <el-input v-model="form.dateStart" />
      </el-form-item>
      <el-form-item label="종료일">
        <el-input v-model="form.dateEnd" />
      </el-form-item>
      <el-form-item label="사유">
        <el-input v-model="form.reason" />
      </el-form-item>
      <el-form-item label="첨부파일주소">
        <el-input v-model="form.addFile" />
      </el-form-item>
      <el-form-item label="출결승인유형">
        <el-input v-model="form.attendanceType" />
      </el-form-item>
      <el-form-item label="승인상태">
        <el-input v-model="form.approvalState" />
      </el-form-item>
    </el-form>
  </div>
  <div class=" flex justify-center">
    <el-button @click="bbbbb" >승인하기</el-button>

  </div>
</template>

<style scoped>
.flex{
  padding-bottom: 50px;
}
</style>

<script setup lang="ts">
import { reactive } from 'vue'
import {useAttendanceStore} from "~/stores/studentattendanceapproval";

const testStore = useAttendanceStore();


// do not use same name with ref
const form = reactive({
  studentId:0,
  dateStart:'',
  dateEnd:'',
  reason:'',
  addFile:'',
  attendanceType: '',
  approvalState:'',

})

const onSubmit = () => {
  const payload ={
    studentId: form.studentId,
    dateStart: form.dateStart,
    dateEnd : form.dateEnd,
    reason : form.reason,
    addFile : form.addFile,
    attendanceType : form.attendanceType,
    approvalState : form.approvalState,


  }

  testStore.putAttendanceChang(payload)
  console.log('성공!')
}

const bbbbb = (id:string) =>{
  router.push
  ({
    path: `/attendances/stu-att-app-list`,
  });
}
const router = useRouter();

</script>
