@import url('../fonts/roboto.css');
@import url('./reset.css');
@import url('./sidebar.css');
@import url('./tooltip.css');
@import url('./skeleton.css');
@import url('./scrollbar.css');
@import url('./package.css');
@import url('./override.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

div.hello> div >div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
  display:none;

}

div.hello> div >div:nth-child(1){
  display:none;

}

div.hi>div>div:nth-child(1){
  display: none;
}
div.hi>div>div:nth-child(2){
  display: none;
}
div.hi>div>div:nth-child(3){
  display: none;
}
div.hi>div>div:nth-child(4){
  display: none;
}
div.hi>div>div:nth-child(5){
  display: none;
}
div.hello>div>div:nth-child(3)>div{
  display: none;
}

div.hello> div >div:nth-child(1){
  display:none;

}

div.timetable>div>div:nth-child(1) {
  display: none;
}

div.teacherlist>div>div:nth-child(1) {
  display: none;
}


.cell{
  text-align: center;
}




