<template>
  <div
    class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <a href="#"
           class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">수강과정리스트</a>
      </li>
      <li class="me-2">
        <a href="#"
           class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
           aria-current="page">과정 상세보기</a>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="text-3xl font-bold"> 강사 리스트 상세정보</h1>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex justify-center m-1 p-1.5 ">

      <div
        class="w-full  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-3">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">과정 상세정보</h5>
        </div>
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      강사명
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ teacherChangedeacher.imgSrc }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      성별
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ teacherChangedeacher. teacherName}}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">

                </div>
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      생년월일
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ teacherChangedeacher.username }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      핸드폰번호
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ teacherChangedeacher.gender }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      주소
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ teacherChangedeacher.dateBirth }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      이메일
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ teacherChangedeacher.phoneNumber }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      가입일
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ teacherChangedeacher.address }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="teacherChangedeacher">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      비밀번호
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ teacherChangedeacher.email }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</template>
<script setup lang="ts" xmlns="http://www.w3.org/1999/html">
import {reactive, ref} from 'vue'
import {storeToRefs} from "pinia";
import {useTeacherStore} from "~/stores/teacher";

const store = useTeacherStore();
const {getListDetailTeacher} = store;
const {teacherChangedeacher} = storeToRefs(store);


await getListDetailTeacher('${id}').then(() => {
  console.log("-------------------상세보기성공---------------------")
  console.log("-------------------상세보기성공---------------------")
  console.log()
}).catch(() => {
  console.log("--------------------상세보기실패------------------")

});

const form = reactive({
  "imgSrc": '',
  "teacherName": '',
  "username": '',
  "password": '',
  "passwordRe": '',
  "gender": '',
  "dateBirth": '',
  "phoneNumber": '',
  "address": '',
  "email": '',
})

</script>


<style scoped>

</style>
