<script setup lang="ts">
import { ref } from 'vue'
const input = ref('')
const input2 = ref('')
const input3 = ref('')
const input4 = ref('')
const input5 = ref('')
const input6 = ref('')
const input7 = ref('')
const input8 = ref('')
const input9 = ref('')
const input10 = ref('')
</script>

<template>
  <div class="text-3xl">설문관리</div>

  <div class="text-2xl">설문지 문항
  <div class="mymy" >
    <div>1문항
      <el-input v-model="input"  placeholder="Please input" />
    </div>
    <div>2문항
      <el-input v-model="input2" placeholder="Please input" />
    </div>
    <div>3문항
      <el-input v-model="input3"  placeholder="Please input" />
    </div>
    <div>4문항
      <el-input v-model="input4"  placeholder="Please input" />
    </div>
    <div>5문항
      <el-input v-model="input5"  placeholder="Please input" />
    </div>
    <div>6문항
      <el-input v-model="input6"  placeholder="Please input" />
    </div>
    <div>7문항
      <el-input v-model="input7"  placeholder="Please input" />
    </div>
    <div>8문항
      <el-input v-model="input8"  placeholder="Please input" />
    </div>
    <div>9문항
      <el-input v-model="input9"  placeholder="Please input" />
    </div>
    <div>10문항
      <el-input v-model="input10"  placeholder="Please input" />
    </div>
    <div class="divide-y divide-dashed md:divide-solid">
      <div>11</div>
      <div>11</div>
    </div>
  </div>
  </div>






</template>

<style scoped>
.mymy{
  height: 400px;
  width: 800px;
}
</style>
