<script setup lang="ts">
useHead({
  title: 'Profile'
})
</script>

<template>
  <div>
    <h1 class="text-3xl font-bold">
      LMS 프로젝트
    </h1>
    <hr class="my-2 border dark:border-gray-700" />
  </div>
</template>
