
<template>
  <div>
  <div
    class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700 ">
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <a href="/attendances/stu-att-app-list"
           class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 w-30 h-30 font-bold ">수강과정리스트</a>
      </li>
      <li class="me-2">
        <a href="/attendances/stu-att-app-list"
           class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500 font-bold"
           aria-current="page">수강생 출결 상세보기</a>
      </li>
    </ul>
  </div>
  <div>



<!--     <div style="float:right;">-->
<!--      <el-button link type="primary" size="large" @click="onA1" >-->
<!--        승인-->
<!--      </el-button>-->
<!--     </div>-->


    <div class="flex justify-center m-1 p-1.5 ">
      <div
        class="w-full  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between ">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">출결서류관리 </h5>
          <div class="button" >
            <el-button link type="primary" size="large" @click="putAttendanceApprovalAndBack(ListAllId.id)">
              승인하기
            </el-button>
          </div>
        </div>
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      수강반명
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.subjectName }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      학생명
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.studentName }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      수강생 id
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.studentId }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      출결승인유형
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.attendanceType }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      사유
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.reason }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      시작일
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.dateStart }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      종료일
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.dateEnd }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      승인상태
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.approvalState }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      등록일
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.dateRegister }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-xm font-medium text-gray-900 truncate dark:text-white">
                      첨부파일
                    </p>
                    <p class="text-ms text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.addFile }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>


</template>
<script setup lang="ts" xmlns="http://www.w3.org/1999/html">
import {reactive, ref} from 'vue'
import {storeToRefs} from "pinia";
import {useAttendanceStore} from "~/stores/studentattendanceapproval";

const store = useAttendanceStore();
const {getListDetail,putAttendanceApproval,putAttendanceChang} = store;
const {ListAllId} = storeToRefs(store);



await getListDetail().then(() => {
  console.log("-------------------상세보기성공---------------------")
  console.log("-------------------상세보기성공---------------------")
  console.log()
}).catch(() => {
  console.log("--------------------상세보기실패------------------")

});



const form = reactive({
  subjectName: 0,
  studentName: 0,
  studentId: 0,
  attendanceType: 0,
  reason: 0,
  studentSick: 0,
  dateStart: 0,
  dateEnd: '',
  approvalState: '',
  dateRegister: '',
})




// const onA1 = () =>{
//   console.log(ListAllId.id)
// }

const putAttendanceApprovalAndBack = (id:number) =>{
  putAttendanceApproval(id)
  goBack()
}

const router = useRouter();

const goBack = () => {
  router.push(`/attendances/stu-att-app-list`)
}



</script>


<style scoped>

.button{
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
  margin-top: 20px;
  padding-top: 10px;

}
</style>
