<script setup lang="ts">
import {DatatableColumn, DatatableData, TwButton, TwDatatableServer, TwModal} from "vue3-tailwind";
const data = ref({
  column: [
    {
      label: "id",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "이름",
      field: "category",
      width: "400px",
      sortable: true,
    },
    {
      label: "등록일자",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "분류",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "기타사항",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "평가명",
      field: "category",
      width: "400px",
      sortable: false,
    },
    {
      label: "상태",
      field: "category",
      width: "400px",
      sortable: false,
    },
  ] as Array<DatatableColumn>,
  data: [] as Array<DatatableData>,
  limit: 5,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: false,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },

    ],
  },
});

const fetchData = async () => {
  const baseUrl = "https://dummyjson.com/products";
  const response = await fetch(
    baseUrl +
    "?" +
    new URLSearchParams({
      limit: data.value.limit.toString(),
      skip: data.value.offset.toString(),
      q: data.value.search.toString(),
      sortType: data.value.sortType,
      sortBy: data.value.sortBy,
    })
  );
  const responseJson = await response.json();
  return {
    data: responseJson["products"],
    totalData: responseJson["total"],
  };
};


const sortClick = (event: any) => {
  const sortBy = data.value.sortBy
  const sortType = data.value.sortType
  const sortByNew = event
  const sortTypeNew = event === sortBy ? (sortType === 'asc' ? 'desc' : 'asc') : 'asc'
  data.value = { ...data.value, sortBy: sortByNew, sortType: sortTypeNew }
}

import { Modal } from 'flowbite';
import type { ModalOptions, ModalInterface } from 'flowbite';
import type { InstanceOptions } from 'flowbite';
import { ref, onMounted } from 'vue';

const modal = ref<ModalInterface | null>(null);

const modalOptions: ModalOptions = {
  placement: 'bottom-right',
  backdrop: 'dynamic',
  backdropClasses: 'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40',
  closable: true,
  onHide: () => {
    console.log('modal is hidden');
  },
  onShow: () => {
    console.log('modal is shown');
  },
  onToggle: () => {
    console.log('modal has been toggled');
  },
};

const instanceOptions: InstanceOptions = {
  id: 'default-modal',
  override: true,

};

onMounted(() => {
  const $modalElement: HTMLElement | null = document.querySelector('#default-modal');
  if ($modalElement) {
    modal.value = new Modal($modalElement, modalOptions, instanceOptions);
  } else {
    console.error('Modal element with ID "default-modal" not found.');
  }
});

const toggleModal = () => {
  if (modal.value) {
    modal.value.toggle();
  } else {
    console.error('Modal instance not initialized.');
  }
};

const hideModal = () => {
  if (modal.value) {
    modal.value.hide();
  } else {
    console.error('Modal instance not initialized.');
  }
};

import { reactive } from 'vue'

// do not use same name with ref
const form = reactive({
  name: '',
  region: '',
  date1: '',
  date2: '',
  delivery: false,
  type: [],
  late:[],
  early:[],
  resource: '',
  desc: '',
})

const onSubmit = () => {
  console.log('submit!')
}
const excelModal = ref<ModalInterface | null>(null);

const toggleExcelModal = () => {
  if (excelModal.value) {
    excelModal.value.toggle();
  } else {
    console.error('Excel Modal instance not initialized.');
  }
};
import { ElMessage } from 'element-plus'

const openCenter = () => {
  ElMessage({
    showClose: true,
    message: '엑셀 저장 되었습니다.',
    center: true,
  })
}
</script>

<template>
  <div>
    <h2 class="text-2xl font-bold">출결관리</h2>
    <hr class="my-2 border dark:border-gray-700" />
  </div>
  <div class="flex justify-end items-center mb-4">
    <!-- Modal toggle -->
    <button
      @click="toggleModal"
      class="block text-white bg-gray-400 focus:ring-4 focus:outline-none  font-medium rounded-lg
      text-sm px-5 py-2.5 text-center "
      type="button">
      출결 등록
    </button>

    <el-button class="bg-gray-400" plain size="large" @click="openCenter">엑셀 저장</el-button>
  </div>
  <!-- Main modal -->
  <div id="default-modal"
       tabindex="-1"
       aria-hidden="true"
       class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center
        w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <!-- Modal content 모달 창 내용 -->
    <div class="relative p-4 w-full max-w-5xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            출결 등록
          </h3>
          <button
            @click="hideModal"
            type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto
                inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 14 14">
              <path stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="hihi">
          <el-form :model="form" label-width="auto" style="max-width: 600px">
            <!--            결석자 부분-->
            <el-form-item label="결석자">
              <el-checkbox-group v-model="form.type">
                <el-checkbox value="권봉주" name="type">
                  권봉주
                </el-checkbox>
                <el-checkbox value="박진수" name="type">
                  박진수
                </el-checkbox>
                <el-checkbox value="박하림" name="type">
                  박하림
                </el-checkbox>
                <el-checkbox value="임인영" name="type">
                  임인영
                </el-checkbox>
                <el-checkbox value="김승희" name="type">
                  김승희
                </el-checkbox>
                <el-checkbox value="최재오" name="type">
                  최재오
                </el-checkbox>
                <el-checkbox value="이윤진" name="type">
                  이윤진
                </el-checkbox>
                <el-checkbox value="홍수경" name="type">
                  홍수경
                </el-checkbox>
                <el-checkbox value="김기범" name="type">
                  김기범
                </el-checkbox>
                <el-checkbox value="배병수" name="type">
                  배병수
                </el-checkbox>
                <el-checkbox value="주명돈" name="type">
                  주명돈
                </el-checkbox>
                <el-checkbox value="김남호" name="type">
                  김남호
                </el-checkbox>
                <el-checkbox value="박유미" name="type">
                  박유미
                </el-checkbox>
                <el-checkbox value="함수빈" name="type">
                  함수빈
                </el-checkbox>
                <el-checkbox value="노지은" name="type">
                  노지은
                </el-checkbox>
                <el-checkbox value="강민정" name="type">
                  강민정
                </el-checkbox>
                <el-checkbox value="최정연" name="type">
                  최정연
                </el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <!--              지각자-->
            <el-form-item label="지각자">
              <el-checkbox-group v-model="form.late">
                <el-checkbox value="권봉주" name="late">
                  권봉주
                </el-checkbox>
                <el-checkbox value="박진수" name="late">
                  박진수
                </el-checkbox>
                <el-checkbox value="박하림" name="late">
                  박하림
                </el-checkbox>
                <el-checkbox value="임인영" name="late">
                  임인영
                </el-checkbox>
                <el-checkbox value="김승희" name="late">
                  김승희
                </el-checkbox>
                <el-checkbox value="최재오" name="late">
                  최재오
                </el-checkbox>
                <el-checkbox value="이윤진" name="late">
                  이윤진
                </el-checkbox>
                <el-checkbox value="홍수경" name="late">
                  홍수경
                </el-checkbox>
                <el-checkbox value="김기범" name="late">
                  김기범
                </el-checkbox>
                <el-checkbox value="배병수" name="late">
                  배병수
                </el-checkbox>
                <el-checkbox value="주명돈" name="late">
                  주명돈
                </el-checkbox>
                <el-checkbox value="김남호" name="late">
                  김남호
                </el-checkbox>
                <el-checkbox value="박유미" name="late">
                  박유미
                </el-checkbox>
                <el-checkbox value="함수빈" name="late">
                  함수빈
                </el-checkbox>
                <el-checkbox value="노지은" name="late">
                  노지은
                </el-checkbox>
                <el-checkbox value="강민정" name="late">
                  강민정
                </el-checkbox>
                <el-checkbox value="최정연" name="late">
                  최정연
                </el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <!--              조퇴자-->
            <el-form-item label="조퇴자">
              <el-checkbox-group v-model="form.early">
                <el-checkbox value="권봉주" name="early">
                  권봉주
                </el-checkbox>
                <el-checkbox value="박진수" name="early">
                  박진수
                </el-checkbox>
                <el-checkbox value="박하림" name="early">
                  박하림
                </el-checkbox>
                <el-checkbox value="임인영" name="early">
                  임인영
                </el-checkbox>
                <el-checkbox value="김승희" name="early">
                  김승희
                </el-checkbox>
                <el-checkbox value="최재오" name="early">
                  최재오
                </el-checkbox>
                <el-checkbox value="이윤진" name="early">
                  이윤진
                </el-checkbox>
                <el-checkbox value="홍수경" name="early">
                  홍수경
                </el-checkbox>
                <el-checkbox value="김기범" name="early">
                  김기범
                </el-checkbox>
                <el-checkbox value="배병수" name="early">
                  배병수
                </el-checkbox>
                <el-checkbox value="주명돈" name="early">
                  주명돈
                </el-checkbox>
                <el-checkbox value="김남호" name="early">
                  김남호
                </el-checkbox>
                <el-checkbox value="박유미" name="early">
                  박유미
                </el-checkbox>
                <el-checkbox value="함수빈" name="early">
                  함수빈
                </el-checkbox>
                <el-checkbox value="노지은" name="early">
                  노지은
                </el-checkbox>
                <el-checkbox value="강민정" name="early">
                  강민정
                </el-checkbox>
                <el-checkbox value="최정연" name="early">
                  최정연
                </el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item label="기타사항"style= "width: 600px" >
              <el-input v-model="form.desc" type="textarea" />
            </el-form-item>

          </el-form>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button
            @click="hideModal"
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            등록
          </button>
          <button
            @click="hideModal"
            type="button"
            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white
                 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4
                 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600
                  dark:hover:text-white dark:hover:bg-gray-700">
            취소
          </button>

        </div>
      </div>

    </div>

  </div>


  <div class="hello">
    <TwDatatableServer
      :fetch-data="fetchData"
      v-model:search="data.search"
      v-model:limit="data.limit"
      v-model:offset="data.offset"
      v-model:selected="data.selected"
      v-model:sort-by="data.sortBy"
      v-model:sort-type="data.sortType"
      :column="data.column"
      @on-sort-change="sortClick"
    >
      <template #row="{ column, data }">
        <template v-if="column.field === 'brand'">
          {{ data.brand }}
        </template>
        <template v-if="column.field === 'category'">
          {{ data.category }}
        </template>
        <template v-if="column.field === 'description'">
          {{ data.description }}
        </template>
        <template v-if="column.field === 'action'">

          <div class="flex gap-2 justify-center">
            <TwButton variant="primary" class="border border-gray-900">
              상세보기
            </TwButton>
          </div>
        </template>
        <template v-if="column.field === 'correct'">

          <div class="flex gap-2 justify-center">
            <TwButton variant="primary" class="border border-gray-900">
              응시확인
            </TwButton>
          </div>
        </template>
      </template>
      <template #empty>
        <div class="bg-white dark:bg-gray-800 text-center w-full">No Data</div>
      </template>
    </TwDatatableServer>
  </div>
  <div class="hi">
    <hr class="my-2 dark:border-gray-700" />
    <div>
      <div class="flex gap-2">
        <div class="w-32">Selected Data</div>
        <div>: {{ data.selected }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Order By</div>
        <div>: {{ data.sortBy }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Order Type</div>
        <div>: {{ data.sortType }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Search</div>
        <div>: {{ data.search }}</div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.hihi{
  display: flex;
  justify-content: center;
}
.hello {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;}

.cancel-button{
  margin: 10px;
}
#default-modal {
  top: 50%;
  transform: translateY(-50%);
}
.flex > *:not(:last-child) {
  margin-right: 10px; /* 버튼 사이의 간격 조절 */
}
</style>
