<template>
  <form class="inputImg" method="post" enctype="multipart/form-data">
    <div class="addImage" v-if="imageUrl">
      <img :src="imageUrl" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
    <input type="file" accept="image/*" @change="loadFile">
  </form>


</template>




<script>
import {TwInput} from "vue3-tailwind";

export default {
  components: {TwInput},

  data() {
    return {
      imageUrl: null
    };
  },
  methods: {
    loadFile(event) {
      const file = event.target.files[0];
      if (file) {
        this.imageUrl = URL.createObjectURL(file);
      }
    }
  }
};
</script>

<style scoped>
.addImage {
  width: 400px;
  height: 300px;
  background-color: lightgray;
  border-radius: 20px;
  overflow: hidden;
  margin: 0px 10px 10px 0px;
}

.inputImg {
  width: 450px;
  height: 350px;
}
</style>
