<template>
  <div>
    <h2 class="text-2xl font-bold">수강 관리</h2>
    <div class="flex justify-end gap-2 m-2">
      <TwButton variant="primary" class="border border-gray-900">
        수정하기
      </TwButton>
      <TwButton variant="danger"> 삭제하기 </TwButton>

    </div>
    <hr class="my-2 border dark:border-gray-700" />
    <TwDatatableClient
      class="!dark:text-gray-200"
      :column="data.column"
      :data="classList"
      :setting="data.setting"

    >
      <template #row="{ column, data }">
        <template v-if="column.field === 'teacherId'">
          {{ data.teacherId }}
        </template>
        <template v-if="column.field === 'subjectName'">
          {{ data.subjectName }}
        </template>
        <template v-if="column.field === 'dateStart'">
          {{ data.dateStart }}
        </template>
        <template v-if="column.field === 'dateEnd'">
          {{ data.dateEnd }}
        </template>
        <template v-if="column.field === 'periodTime'">
          {{ data.periodTime }}
        </template>
        <template v-if="column.field === 'trainingType'">
          {{ data.trainingType }}
        </template>
        <template v-if="column.field === 'classTurn'">
          {{ data.classTurn }}
        </template>
        <template v-if="column.field === 'registerHuman'">
          {{ data.registerHuman }}
        </template>
        <template v-if="column.field === 'totalHuman'">
          {{ data.totalHuman }}
          <template v-if="column.field === 'mainTeacher'">
            {{ data.mainTeacher }}
          </template>
          <template v-if="column.field === 'ncsLevel'">
            {{ data.ncsLevel }}
        </template>
        <template v-if="column.field === 'action'">
          <div class="flex gap-2 justify-center">
            <TwButton variant="primary" class="border border-gray-900">
              Edit
            </TwButton>
            <TwButton variant="danger"> Delete </TwButton>
          </div>
        </template>
      </template>
      </template>
    </TwDatatableClient>>
  </div>
</template>
<script setup lang="ts">
import { TwDatatableClient, TwButton } from "vue3-tailwind";
import {onMounted, reactive, ref} from "vue";
import { storeToRefs } from 'pinia'
import {useSubjectStore} from "~/stores/classergisstration";

const stores = useSubjectStore();
const {getList} =stores;
const {classList} = storeToRefs(stores);
console.log("hello")

await getList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});

const route = useRoute()
console.log(route.params.id)


const data = ref({
  column: [
    {
      label: "과정담당교사",
      field: "teacherId",
      width: "400px",
      sortable: true,
    },
    {
      label: "수강인원",
      field: "subjectName",
      width: "400px",
      sortable: true,
    },
    {
      label: "과정담당교사",
      field: "dateStart",
      width: "400px",
      sortable: true,
    },
    {
      label: "교육대상",
      field: "dateEnd",
      width: "400px",
      sortable: true,
    },

    {
      label: "수강기간",
      field: "periodTime",
      width: "400px",
      sortable: true,
    },
    {
      label: "교육유형",
      field: "trainingType",
      width: "400px",
      sortable: true,
    },
    {
      label: "회차",
      field: "classTurn",
      width: "400px",
      sortable: true,
    },
    {
      label: "총인원수",
      field: "registerHuman",
      width: "400px",
      sortable: true,
    },
    {
      label: "재적인원",
      field: "totalHuman",
      width: "400px",
      sortable: true,
    },
    {
      label: "담당강사",
      field: "mainTeacher",
      width: "400px",
      sortable: true,
    },
    {
      label: "NCS수준",
      field: "ncsLevel",
      width: "400px",
      sortable: true,
    },
  ],
  data: [],
  limit: 5,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});



const form = reactive({

  subjectId: 0,
  teacherId: '',
  subjectName:'',
  dateStart: '',
  dateEnd: 0,
  periodTime: '',
  trainingType: 0,
  classTurn:0,
  registerHuman:0,
  totalHuman:0,
  mainTeacher:'',
  ncsLevel:[],

})
const authStore = useSubjectStore()

const onSubmit = () => {
  const payload ={
    subjectId:form.subjectId,
    teacherId:form.teacherId,
    subjectName:form.subjectName,
    dateStart:form.dateStart,
    dateEnd:form.dateEnd,
    trainingType:form.trainingType,
    classTurn:form.classTurn,
    registerHuman:form.registerHuman,
    totalHuman:form.totalHuman,
    mainTeacher:form.totalHuman,
    ncsLevel:form.totalHuman,
  }


}

</script>
