<script setup lang="ts">
const tableData = [
  {


    aa: "기초전공지식",
    name: '필답형',
    Instructorname:"김슨희 강사님",
  },
  {


    aa: "기초전공지식",
    name: '필답형',
    Instructorname:"박징수 강사님",
  },
  {

    aa: "기초전공지식",
    name: '필답형',
    Instructorname:"권본주 강사님",

  },
  {


    aa: "기초전공지식",
    name: '필답형',
    Instructorname:"박징수 강사님",
  },
  {

    aa: "기초전공지식",
    name: '필답형',
    Instructorname:"권본주 강사님",

  },

]
</script>


<template>
  <h1>관리자용 페이지</h1>
  <h2>"(디지털컨버젼스)JAVA기반 스마트웹&앱 개발자 양성_A과정" 시험과목헌황</h2>
  <el-form-item class="flex items-center" >
    <el-button type="primary" @click="onSubmit">등록하기</el-button>
    <el-button>취소하기</el-button>
  </el-form-item>
  <el-table :data="tableData" border style="width: 100%">
    <el-table-column prop="aa" label="평가"width="180" />
    <el-table-column prop="name" label="평가유형" width="180" />
    <el-table-column prop="Instructorname" label="담당강사" />
  </el-table>

</template>

<style scoped>

</style>
