<script setup lang="ts">
import { ElMessage } from 'element-plus'


const openCenter = () => {
  ElMessage({
    showClose: true,
    message: '엑셀 저장이 되었습니다',
    center: true,
  })
}
const openCenter1 = () => {
  ElMessage({
    showClose: true,
    message: '훈련일지 일괄출력 준비가 완료 되었습니다.',
    center: true,
  })
}



import { TwDatatableClient, TwButton } from "vue3-tailwind";
import { onMounted, ref } from "vue";
const data = ref({
  column: [
    {
      label: "번호",
      field: "studentName",
      width: "400px",
      sortable: true,
    },
    {
      label: "강사명",
      field: "gender",
      width: "400px",
      sortable: true,
    },
    {
      label: "작성일",
      field: "dateBirth",
      width: "400px",
      sortable: true,
    },
    {
      label: "특이사항",
      field: "",
      width: "400px",
      sortable: true,
    },
    {
      label: "결재",
      field: "",
      width: "400px",
      sortable: true,
    },
    {
      label: "관리",
      field: "action",
      width: "400px",
      sortable: true,
    },



  ],
  data: [],
  limit: 10,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});


const datatableHook = (arg: any) => {
  arg();
};

onMounted(() => {
  fetch("http://192.168.0.151:8080/v1/student/all")
    .then((res) => res.json())
    .then((json) => {
      console.log(json.list)
      data.value.data = json.list;
    });
});



</script>

<template>
  <div>
    <h2 class="text-3xl font-bold">관리자용 페이지</h2>
    <hr class=" my-2 border dark:border-gray-700 h-1" />훈련일지
    <div class="flex justify-end gap-2 m-2">
      <el-button plain @click="openCenter">엑셀 저장</el-button>
      <el-button plain @click="openCenter1">훈련일지 일괄출력 </el-button>

    </div>

    <div class="teacherlist">
      <TwDatatableClient
        class="!dark:text-gray-200"
        v-model:search="data.search"
        v-model:limit="data.limit"
        v-model:selected="data.selected"
        v-model:sort-by="data.sortBy"
        v-model:sort-type="data.sortType"
        :column="data.column"
        :data="data.data"
        :setting="data.setting"
        @datatable:column-hook="datatableHook"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'studentName'">
            {{ data.studentName }}
          </template>
          <template v-if="column.field === 'gender'">
            {{ data.gender }}
          </template>
          <template v-if="column.field === 'dateBirth'">
            {{ data.dateBirth }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex justify-end gap-2 m-2">
              <TwButton variant="primary" class="border border-gray-900">
                수정
              </TwButton>
              <TwButton variant="danger">삭제</TwButton>
            </div>
            {{ data.description }}
          </template>
        </template>
      </TwDatatableClient>
    </div>
    <hr class="my-2 dark:border-gray-700" />
  </div>
</template>
