<template>
  <div>
    <h2 class="text-2xl font-bold">상담관리</h2>
    <hr class="my-2 border dark:border-gray-700" />


    <div class="overflow-x-auto">
      <table class="min-w-full
      divide-y divide-gray-200 dark:divide-gray-700">
        <thead>
        <tr>
          <th v-for="col in data.column" :key="col.field"
              @click="sortClick(col.field)"
              :class="{ 'cursor-pointer': col.sortable }"
              class=" bg-gray-50 dark:bg-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            {{ col.label }}
          </th>
          <th class="  bg-gray-50 dark:bg-gray-800 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            관리
          </th>
        </tr>
        </thead>
        <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
        <tr v-for="(item, index) in data.data" :key="index" class="bg-white dark:bg-gray-800">
          <td v-for="col in data.column" :key="col.field" class="px-3 py-4 whitespace-nowrap text-sm leading-5 text-gray-900 dark:text-gray-200">
            {{ item[col.field] }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm  font-medium flex gap-2">

            <template>
              <div class="">
                <TwModal backdrop="static" :full-height="false">
                  <template #trigger>
                    <TwButton> 상담등록 </TwButton>
                  </template>
                  <template #header>
                    <div>상담 등록</div>
                  </template>
                  <template #body>

                    <div class="demo-date-picker">
                      <div class="block">
                        <span class="demonstration text-sm ">등록일자 </span>
                        <el-date-picker
                          v-model="value1"
                          type="date"
                          placeholder="날짜 선택 해주세요"
                          :size="size"
                        />
                      </div>

                    </div>
                    <div>
                      <form class="max-w-full mx-auto">
                        <div class="mb-5">
                          <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">상담 제목</label>
                          <input type="text" id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                  focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                      </form>
                    </div>
                    <div>
                      <form class="max-w-full mx-auto">
                        <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">상담 내용 </label>
                        <textarea id="message" rows="4" class="block p-3.5 w-full text-sm text-gray-900 bg-gray-50
                rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  placeholder="내용을 입력해주세요...">
                </textarea>
                      </form>
                    </div>
                  </template>
                  <!--          등록 뒤로가기 버튼 footer -->
                  <template #footer>
                    <div class="flexbutton ">
                      <TwButton class="buttons" variant="secondary">
                        등록
                      </TwButton>
                      <TwButton class="buttons" variant="secondary" >
                        뒤로가기
                      </TwButton>
                    </div>
                  </template>
                </TwModal>
              </div>
            </template>
            <TwButton @click="handleDelete(index)" variant="danger">상담 수정</TwButton>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="bg-white dark:bg-gray-800 text-center w-full" v-if="data.data.length === 0">No Data</div>
    </div>
    <hr class="my-2 dark:border-gray-700" />
  </div>
</template>

<script setup lang="ts">

import { ref } from "vue";
import {DatatableColumn, DatatableData, TwButton, TwModal} from "vue3-tailwind";


const data = ref({
  column: [
    {
      label: "번호",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "id",
      field: "category",
      width: "400px",
      sortable: true,
    },
    {
      label: "이름",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "과정명",
      field: "hello",
      width: "400px",
      sortable: true,
    },
  ] as Array<DatatableColumn>,
  data: [
    { brand: "1", category: "aaa", description: "임인영",hello:"java웹 앱 개발 양성자 과정" },
    { brand: "2", category: "aaa", description: "박진수",hello: "java웹 앱 개발 양성자 과정" },
    { brand: "3", category: "aaa", description: "권봉주",hello: "java웹 앱 개발 양성자 과정" },
    { brand: "4", category: "aaa", description: "박하림",hello: "java웹 앱 개발 양성자 과정" },
    { brand: "5", category: "aaa", description: "이윤딘",hello: "java웹 앱 개발 양성자 과정" }
  ] as Array<DatatableData>,
  limit: 5,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});

const sortClick = (field: string) => {
  const sortBy = data.value.sortBy;
  const sortType = data.value.sortType;
  const sortByNew = field;
  const sortTypeNew = field === sortBy ? (sortType === 'asc' ? 'desc' : 'asc') : 'asc';
  data.value.sortBy = sortByNew;
  data.value.sortType = sortTypeNew;
};

const handleEdit = (item: DatatableData) => {
  console.log("Edit item:", item);
};

const handleDelete = (index: number) => {
  console.log("Delete item at index:", index);
};
import { ref } from 'vue'

const size = ref<'default' | 'large' | 'small'>('default')

const value1 = ref('')
const value2 = ref('')

const shortcuts = [
  {
    text: 'Today',
    value: new Date(),
  },
  {
    text: 'Yesterday',
    value: () => {
      const date = new Date()
      date.setTime(date.getTime() - 3600 * 1000 * 24)
      return date
    },
  },
  {
    text: 'A week ago',
    value: () => {
      const date = new Date()
      date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
      return date
    },
  },
]

const disabledDate = (time: Date) => {
  return time.getTime() > Date.now()
}
</script>

<style>

.flexbutton{
  display: flex;
  justify-content: center;
}
.buttons{
  margin: 5px;
}

/* 불필요한 스타일이 없으므로 비어있음 */
td{
  width: 220px;
  margin-left: 110px;
  padding: 10px;
}
th{
  margin-left: 110px;
  padding:10px;
  margin-left: 10px;
}
</style>
