<script setup lang="ts">
import { ref } from 'vue'
import { ElButton, ElDialog } from 'element-plus'
import { CircleCloseFilled } from '@element-plus/icons-vue'

const visible = ref(false)

import {TwButton, TwModal} from "vue3-tailwind";

const isOpen = ref(false);


const toggleMenu = () => {
  isOpen.value = !isOpen.value;
};
import { ref } from 'vue'
const input = ref('')
const tableData = [
  {
    date: '지시사항',
    date: '지시사항',
    date: '지시사항',
  },



]
</script>

<template>


  <h2>훈련일지</h2>
  <div class="bg-gray-200 w-50 h-1 mt-3"></div>
  <div class="relative inline-block text-right m-1">
    <div>
      <button type="button"
              class="inline-flex gap-x-2.5  px-12 py-2 text-xm font-semibold text-gray-900 shadow-sm ring-gray-300 hover:bg-gray-50"
              id="menu-button" aria-expanded="false" aria-haspopup="true" @click="toggleMenu">
        과정명 선택
        <svg class="-mr-1 h-6 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                clip-rule="evenodd"/>
        </svg>
      </button>
    </div>
    <!-- Dropdown menu -->
    <div v-if="isOpen"
         class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
         role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-2" role="none">
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Java 웹
          앱 개발 a반</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">포토샵
          반</a>
        <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">auto
          cad반 </a>
      </div>

    </div>
  </div>
  <div class="bg-gray-200 w-50 h-1 mt-3"></div>
  <!--  단락선 구분하기-->
  <div class="flex flex-row-reverse mt-2">
    <TwButton class="m-1">훈련 날짜</TwButton>
    <TwButton class="m-1">시간표 내용 가져오기</TwButton>
  </div>


  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 my-5">

    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

    <tr>
      <th scope="col" class="px-6 py-3">재적</th>
      <th scope="col" class="px-6 py-3">출석</th>
      <th scope="col" class="px-6 py-3">결석</th>
      <th scope="col" class="px-6 py-3">지각
      </th>
      <th scope="col" class="px-6 py-3">조퇴</th>
    </tr>
    </thead>


    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

      <td class="px-6 py-4">17</td>
      <td class="px-6 py-4">0</td>
      <td class="px-6 py-4">0</td>
      <td class="px-6 py-4">0</td>
      <td class="px-6 py-4">0</td>
    </tr>
    </tbody>
  </table>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2 ">
<div class="hello bg-gray-200 w-full text-xl text-center">
  훈련사항
</div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

      <tr class="text-center">
        <th scope="col" class="px-6 py-3">교시</th>
        <th scope="col" class="px-6 py-3">담당교사</th>
        <th scope="col" class="px-6 py-3">훈련과목</th>
        <th scope="col" class="px-6 py-3">훈련내용</th>

      </tr>
      </thead>
      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
          1교시
        </th>
        <td class="px-6 py-4 text-center">문미림강사님</td>
        <td class="px-6 py-4 text-center">(JAVA)웹&앱</td>
        <td class="px-6 py-4 text-center">진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.</td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
          2교시
        </th>
        <td class="px-6 py-4 text-center">문미림강사님</td>
        <td class="px-6 py-4 text-center">(JAVA)웹&앱</td>
        <td class="px-6 py-4 text-center">진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.</td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
          3교시
        </th>
        <td class="px-6 py-4 text-center">문미림강사님
        </td>
        <td class="px-6 py-4 text-center">(JAVA)웹&앱</td>
        <td class="px-6 py-4 text-center">진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.</td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
          4교시
        </th>
        <td class="px-6 py-4 text-center">문미림강사님</td>
        <td class="px-6 py-4 text-center">(JAVA)웹&앱</td>
        <td class="px-6 py-4 text-center">진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.</td>

      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
          5교시
        </th>
        <td class="px-6 py-4 text-center">문미림강사님</td>
        <td class="px-6 py-4 text-center">(JAVA)웹&앱</td>
        <td class="px-6 py-4 text-center">진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.</td>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
            6교시
          </th>
          <td class="px-6 py-4 text-center">문미림강사님</td>
          <td class="px-6 py-4 text-center">(JAVA)웹&앱</td>
          <td class="px-6 py-4 text-center">진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.</td>

        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
            7교시
          </th>
          <td class="px-6 py-4 text-center">문미림강사님</td>
          <td class="px-6 py-4 text-center">(JAVA)웹&앱</td>
          <td class="px-6 py-4 text-center">진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.</td>

        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
            8교시
          </th>
          <td class="px-6 py-4 text-center">문미림강사님</td>
          <td class="px-6 py-4 text-center">(JAVA)웹&앱</td>
          <td class="px-6 py-4 text-center">진행중인 과목으로는 서버 프로그램 구현하는 시간을 진행 하였습니다.</td>

        </tr>


      </tr>
      </tbody>
    </table>

  </div>
  <div class="py-3  ">
    <div class="flex justify-end" >

      <TwModal backdrop="static" :full-height="false">

        <template #header>
          <div></div>
        </template>
        <template #body>
          <div>

          </div>
        </template>
        <template #footer>

          <div class="modal-button">
            <TwButton variant="secondary">
              삭제
            </TwButton>
          </div>
          <div class="cancel-button">
            <div class="flex justify-between">
              <TwButton variant="secondary">
                취소
              </TwButton>
            </div>
          </div>
        </template>

      </TwModal>

    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 my-5">

      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

      <tr>
        <th scope="col" class="px-6 py-3 ">
          훈련시간
        </th>
        <th scope="col" class="px-6 py-3 ">

        </th>
        <th scope="col" class="px-6 py-3 ">

        </th>
        <th scope="col" class="px-6 py-3 ">

        </th>
        <th scope="col" class="px-6 py-3 ">

        </th>

      </tr>
      <tr>
        <th scope="col" class="px-6 py-3 ">
          이론
          <template>
            <el-input v-model="input" style="width: 300px" placeholder="Please input" />
          </template>
        </th>
        <th scope="col" class="px-6 py-3">
          실습
          <template>
            <el-input v-model="input" style="width: 300px" placeholder="Please input" />
          </template>
        </th>
        <th scope="col" class="px-6 py-3">
         지시사항
          <template>
            <el-input  v-model="input" style="height:100px; width: 500px "  placeholder="Please input" />
          </template>
        </th>

        <th scope="col" class="px-6 py-3">

        </th>
        <th scope="col" class="px-6 py-3">

        </th>
      </tr>
      </thead>
    </table>

    <div class=" relative overflow-x-auto shadow-md sm:rounded-lg ">

    </div>

    <div class="button-container1 flex items-stretch  py-3 ">
      <el-button plain @click="visible = true">
        수정하기
      </el-button>
      <el-dialog v-model="visible" :show-close="false" width="500">
        <template #header="{ close, titleId, titleClass }">
          <div class="my-header">
            <h4 :id="titleId" :class="titleClass">훈련일지수정</h4>
            <el-button type="danger" @click="close">
              <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
              닫기
            </el-button>
          </div>
        </template>
        훈련일지 수정 취소하겠습니까?
      </el-dialog>
      <el-button plain @click="visible = true">
        취소하기
      </el-button>
      <el-dialog v-model="visible" :show-close="false" width="500">
        <template #header="{ close, titleId, titleClass }">
          <div class="my-header">
            <h4 :id="titleId" :class="titleClass">훈련일지수정</h4>
            <el-button type="danger" @click="close">
              <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
              닫기
            </el-button>
          </div>
        </template>
        훈련일지 수정이 완료 되었습니다.
      </el-dialog>


    </div>
  </div>

</template>

<style scoped>

.button {
  margin-top: 50px;
}

.button-container1 {
  display: flex;
  margin: 5px;
  margin-bottom: 10px;
  justify-content: center; /* 버튼을 오른쪽으로 정렬합니다. */
}
.my-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

</style>
