<template>
  <div
    class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
      <li class="me-2">
        <a href="attendances/stu-att-app-list"
           class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">수강과정리스트</a>
      </li>
      <li class="me-2">
        <a href="#"
           class="inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg active dark:text-blue-500 dark:border-blue-500"
           aria-current="page">수강생 출결 상세보기</a>
      </li>
    </ul>
  </div>
  <div>
    <h1 class="text-3xl font-bold"> 수강생 출결 리스트 상세정보</h1>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex justify-center m-1 p-1.5 ">

      <div
        class="w-full  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-3">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">과정 상세정보</h5>
        </div>
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      수강반명
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.subjectName }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      학생명
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.studentName }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      수강생 id
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.studentId }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      출결승인유형
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.attendanceType }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      사유
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.reason }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      시작일
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.dateStart }}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      종료일
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.dateEnd }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      승인상태
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.approvalState }}
                    </p>
                  </div>
                </div>
              </div>
            </li>

            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="ListAllId">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      등록일
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{ ListAllId.dateRegister }}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</template>
<script setup lang="ts" xmlns="http://www.w3.org/1999/html">
import {reactive, ref} from 'vue'
import {storeToRefs} from "pinia";
import {useAttendanceStore} from "~/stores/studentattendanceapproval";

const store = useAttendanceStore();
const {getListDetail} = store;
const {ListAllId} = storeToRefs(store);



await getListDetail('${id}').then(() => {
  console.log("-------------------상세보기성공---------------------")
  console.log("-------------------상세보기성공---------------------")
  console.log()
}).catch(() => {
  console.log("--------------------상세보기실패------------------")

});

const form = reactive({
  subjectName: 0,
  studentName: 0,
  studentId: 0,
  attendanceType: 0,
  reason: 0,
  studentSick: 0,
  dateStart: 0,
  dateEnd: '',
  approvalState: '',
  dateRegister: '',
})


const router = useRouter();

</script>


<style scoped>

</style>
