<script setup lang="ts">

import { storeToRefs } from 'pinia'
import { useAttendanceStore } from '~/stores/studentattendanceapproval'

/*수강생 출결 승인 리스트 보기 */

const stores = useAttendanceStore();
const {attendanceListAll} = storeToRefs(stores);
const {getListAll} = stores;
const {getListPaging} =stores;

await getListPaging (1).then(() => { // 스토어에서 가져다 사용 페이징 호출한 부분
  console.log("성공")
}).catch(() => {
  console.log("실패")
});

//페이징 처리
const handlePageChange = (currentPage: number) =>{ //페이지 처리 시 따로 위에 부분처럼 호출 해야지 오류가 안난다.
  getListPaging(currentPage)
    .then(() => {
      //성공 했을 때 필요한 처리
    })
    .catch(() => {
      //실패 했을 때 처리

    });
}


const onDetail = (id:any) =>{ // 상세보기 페이지 이동을 위한 코드

  console.log(id);
  router.push
  ({
   path: `/attendances/detail/${id}`,
  });
}

const router = useRouter();



import { reactive } from 'vue'

const formInline = reactive({
  state: '1',
})

// getListAll 함수 정의


// fetchData 호출
await getListAll(formInline.state).then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});


watch(formInline, (newValue, oldValue) => {
  console.log('formInline.state가 변경되었습니다:', newValue)
})

</script>


<template>
  <h1 class="p-4 font-bold" >l 수강생 출결승인 l</h1>
  <div class="size=small">
  <el-form :inline="true" :model="formInline" class="demo-form-inline" size="small">
    <el-select @change="getListAll" v-model="formInline.state" placeholder="승인 상태" clearable size="large" >
      <el-option label="전체 보기" value="1" />
      <el-option label="승인 대기" value="2" />
      <el-option label="승인 완료" value="3" />
    </el-select>
  </el-form>
  </div>

  <div class="aaa">
  <el-table :data="attendanceListAll" style="width: 100%" >
    <el-table-column prop="subjectName" label="수강반명" width="350"/>
    <div  class="centered-text"></div>
    <el-table-column prop="studentName" label="수강생이름" width="200"  />
    <el-table-column prop="attendanceType" label="출석승인유형" width="200" />
    <el-table-column prop="approvalState" label="승인상태" width="200" />
    <el-table-column prop="dateRegister" label="등록일" width="300"/>
    <el-table-column>
      <template #default="scope">
        <el-button link type="primary" size="large" @click="onDetail(attendanceListAll[scope.$index].id)">
          상세보기
        </el-button>
        <el-button link type="primary" size="large" @click="onDetail(attendanceListAll[scope.$index].id)">
          수정하기
        </el-button>
      </template>
    </el-table-column>
  </el-table>
  </div>
  <div class="pagination-container">
    <el-pagination background layout="prev, pager, next" :total="100" @current-change="handlePageChange" />
  </div>





</template>


<style scoped>
.demo-form-inline {
  margin-bottom: 20px; /* 원하는 여백 크기로 조정하세요 */
}

.pagination-container {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  margin-top: 20px; /* 원하는 여백 크기로 조정하세요 */
}

.aaa{
  //text-indent: 50px;
}
.centered-text{
  text-align: center;
}

</style>
