<script setup lang="ts">

import { reactive } from 'vue'
import { useTenDanceStore } from '~/stores/attendance'
import {Buffer} from "unenv/runtime/node/buffer/_buffer";
import from = Buffer.from;


// do not use same name with ref
const form = reactive({

  dateStart: '',
  dateEnd: '',
  reason: '',
  addFile: '',
  attendanceType: '',


})
const authStore = useTenDanceStore()

const onSubmit = () => {
  const payload ={
    dateStart:form.dateStart,
    dateEnd:form.dateEnd,
    reason:form.reason,
    addFile:form.addFile,
    attendanceType:form.attendanceType

  }

  authStore.setUser(payload)
  console.log(payload)
  console.log("-----aaaa----")
}
</script>

<template>
  <div>
    <div class="hihi">
      <div class="container">
        <div class="form-wrapper">
          <div class=" font-bold text-4xl my-10" >수강생 출결 등록</div>

          <el-form :model="form" label-width="auto" style="max-width: 1000px"   >
            <el-form-item label="시작일">
              <el-col :span="11">
                <el-date-picker
                  v-model="form.dateStart"
                  type="date"
                  placeholder="시작일"
                  style="width: 100%"
                />
              </el-col>
            </el-form-item>
            <el-form-item label="종료일">
              <el-col :span="11">
                <el-date-picker
                  v-model="form.dateEnd"
                  type="date"
                  placeholder="종료일"
                  style="width: 100%"
                />
              </el-col>
            </el-form-item>
            <el-form-item label="사유">
              <el-input v-model="form.reason" />
            </el-form-item>
            <el-form-item label="출결승인유형">
              <el-select v-model="form.addFile" placeholder="사유">
                <el-option label="조퇴" value="TOMORROWSTUDY" />
                <el-option label="결석" value="NATIONALINDUSTRY" />
                <el-option label="병결" value="KDIGITAL" />
              </el-select>
            </el-form-item>
            <div>
              <form class="inputImg" method="post" enctype="multipart/form-data">
                <div class="addImage" v-if="imageUrl">
                  <img :src="imageUrl" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
                <input type="file" accept="image/*" @change="loadFile">
              </form>
            </div>
            <el-form-item class="flex items-center" >
              <el-button type="primary" @click="onSubmit">등록하기</el-button>
              <el-button>취소하기</el-button>
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

.hihi{
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.form-wrapper {
  max-width: 1200px;
  width: 200%;
  padding: 50px;
}


</style>
