<script setup lang="ts">

import { storeToRefs } from 'pinia'
import { useTenDanceStore } from '~/stores/attendance'

const stores = useTenDanceStore();
const {getTeacherList} =stores;
const {attendanceList} = storeToRefs(stores);


await getTeacherList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});


const route = useRoute()

console.log(route.params.id)

</script>

<h2>출결관리</h2>
<template>
  <el-table :data="attendanceList" style="width: 100%"  >
    <el-table-column prop="studentName" label="학생명" width="180" />
    <el-table-column prop="studentAttendance" label="출석" width="180" />
    <el-table-column label="조퇴" width="180">
      <template #default="scope" #row = "data">
        <div style="display: flex; align-items: center">
          <NuxtLink to="/teacher/class-change/${id}">
            {{ scope.row.studentOut }} </NuxtLink>
        </div>
      </template>
    </el-table-column>
    <el-table-column prop="studentLate" label="지각" width="180" />
    <el-table-column prop="studentAbsence" label="무단결석" width="180" />
    <el-table-column prop="studentSick" label="병가" width="180" />

  </el-table>
  <div class="pagination-container">
  <el-pagination background layout="prev, pager, next" :total="100" />
  </div>

</template>

<style scoped>
.pagination-container {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  margin-top: 20px; /* 원하는 여백 크기로 조정하세요 */
}
</style>
