<script setup lang="ts">
import { TwDatatableClient, TwButton } from "vue3-tailwind";
import { onMounted, ref } from "vue";
const data = ref({
  column: [
    {
      label: "과정명",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "수강인원",
      field: "category",
      width: "400px",
      sortable: true,
    },
    {
      label: "과정담당교사",
      field: "description",
      width: "400px",
      sortable: true,
    },
    {
      label: "교육대상",
      field: "description",
      width: "400px",
      sortable: true,
    },

    {
      label: "수강신청기간",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "교육일수",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "교육기간",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "NCS적용 여부",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "주야/구분",
      field: "brand",
      width: "400px",
      sortable: true,
    },
    {
      label: "시간표 관리",
      field: "brand",
      width: "400px",
      sortable: true,
    },
  ],
  data: [],
  limit: 5,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});

const datatableHook = (arg: any) => {
  arg();
};

onMounted(() => {
  fetch("https://dummyjson.com/products")
    .then((res) => res.json())
    .then((json) => {
      data.value.data = json.products;
    });
});
</script>

<template>
  <div>
    <h2 class="text-4xl font-bold">수강 시간표 관리</h2>
    <div class="flex justify-end gap-5 m-5 p-4">
      <TwButton variant="" class=" gray-900">
        수정하기
      </TwButton>
      <TwButton variant=""> 삭제하기 </TwButton>

    </div>
    <hr class="my-2 border dark:border-gray-700" />
    <div class="timetable">
    <TwDatatableClient
      class="!dark:text-gray-200"
      v-model:search="data.search"
      v-model:limit="data.limit"
      v-model:selected="data.selected"
      v-model:sort-by="data.sortBy"
      v-model:sort-type="data.sortType"
      :column="data.column"

      :data="data.data"
      :setting="data.setting"
      @datatable:column-hook="datatableHook"
    >
      <template #row="{ column, data }">
        <template v-if="column.field === '과정명'">
          {{ data.brand }}
        </template>
        <template v-if="column.field === ''">
          {{ data.brand }}
        </template>
        <template v-if="column.field === ''">
          {{ data.brand }}
        </template>
        <template v-if="column.field === 'brand'">
          {{ data.brand }}
        </template>
        <template v-if="column.field === 'brand'">
          {{ data.brand }}
        </template>
        <template v-if="column.field === 'brand'">
          {{ data.brand }}
        </template>
        <template v-if="column.field === 'brand'">
          {{ data.brand }}
        </template>
        <template v-if="column.field === 'category'">
          {{ data.category }}
        </template>
        <template v-if="column.field === 'description'">
          {{ data.description }}
        </template>
      </template>
    </TwDatatableClient>
    </div>
  </div>
</template>
