<script setup lang="ts">
import { TwButton, TwModal } from "vue3-tailwind";

useHead({
  title: "Modal",
});
</script>

<template>
  <div class="">
    <h2 class="text-2xl font-bold">Modal</h2>
    <hr class="my-2 border dark:border-gray-700" />
    <TwModal backdrop="static" :full-height="false">
      <template #trigger>
        <TwButton> Modal </TwButton>
      </template>
      <template #header>
        <div>Header</div>
      </template>
      <template #body>
        <div>
          Lorem ipsum dolor,

        </div>
      </template>
      <template #footer>
        <div>Footer</div>
      </template>
    </TwModal>
  </div>
</template>
