<script setup lang="ts">

import { storeToRefs } from 'pinia'
import { useTrainingStore } from '~/stores/trainingregister'

const stores = useTrainingStore();
const {getTrainingList} =stores;
const {trainingGetList} = storeToRefs(stores);


await getTrainingList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});


const route = useRoute()

console.log(route.params.id)

const onDetail = (id:string) =>{
  router.push
  ({
    path: `/teacher/trainingregister/detail/${1}`,
  });
}

const router = useRouter();


</script>


<template>
  <div class="h-10">훈련일지 관리</div>
  <el-table :data="trainingGetList" style="width: 100%"  >
    <el-table-column prop="teacherId" label="강사id" width="180" />
    <el-table-column prop="dateTraining" label="훈련날짜" width="180" />
<!--    <el-table-column label="재적(명)" width="180">-->
<!--      <template #default="scope" #row = "data">-->
<!--        <div style="display: flex; align-items: center">-->
<!--          <NuxtLink to="teacher/trainingregister/detail">-->
<!--            {{ scope.row.registrationNum }} </NuxtLink>-->
<!--        </div>-->
<!--      </template>-->
<!--    </el-table-column>-->
    <el-table-column prop="registrationNum" label="결석(명)" width="180" />
    <el-table-column prop="absentWho" label="결석(명)" width="180" />
    <el-table-column prop="lateWho" label="지각(명)" width="180" />
    <el-table-column prop="earlyLeaveWho" label="조퇴(명)" width="180" />
    <el-table-column prop="dateRegister" label="등록일" width="180" />
    <el-table-column>
      <template #default>
        <el-button link type="primary" size="small" @click="onDetail">
          상세보기
        </el-button>
      </template>
    </el-table-column>




  </el-table>

</template>

<style scoped>

</style>
